* { margin: 0; padding: 0; box-sizing: border-box; }

:root{
  --bg: #070707;
  --fg: #ffffff;
  --muted: rgba(255,255,255,.65);
  --border: rgba(255,255,255,.10);
  --glass: rgba(0,0,0,.55);
}

body{
  background: var(--bg);
  color: var(--fg);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 50;
  border-bottom: 1px solid var(--border);
  background: var(--glass);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.nav{
  max-width: 1300px;
  margin: 0 auto;
  height: 70px;
  padding: 0 22px;

  display: flex;
  justify-content: space-between;
  flex-warp: wrap;
  align-items: center;
}

.discord-icon{
  width: 18px;
  height: 18px;
}

.discord-btn{
  justify-self: end;

  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 14px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: rgba(255,255,255,.06);

  color: var(--fg);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;

  transition: all .15s ease;
}

.discord-btn:hover{
  border-color: rgba(255,255,255,.25);
  background: rgba(255,255,255,.12);
  transform: translateY(-1px);
}

.logo{
  font-weight: 800;
  letter-spacing: .02em;
  font-size: 18px;
  justify-self: start;
}

.links{
  justify-self: center;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
}

.links a{
  color: var(--muted);
  text-decoration: none;
  font-size: 20px;
  transition: color .18s ease;
}

.links a:hover{
  color: var(--fg);
}

header:hover::after{
  border-color: rgba(255,255,255,.22);
  background: rgba(255,255,255,.09);
}

.page{
  padding-top: 110px; 
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
}

.hero{
  min-height: calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
  gap: 14px;
}

.hero-title{
  font-size: clamp(32px, 8vw, 56px);
  letter-spacing: -0.03em;
}

.hero-sub{
  max-width: 720px;
  color: var(--muted);
  line-height: 1.7;
  font-size: clamp(14px, 2.8vw, 18px);
}

.caret{
  display: inline-block;
  width: 10px;
  height: 0.95em;
  margin-left: 6px;
  background: rgba(255,255,255,.9);
  transform: translateY(2px);
  animation: blink 1s steps(2, start) infinite;
}

@keyframes blink{
  50% { opacity: 0; }
}

@media (max-width: 900px){
  .nav{
    grid-template-columns: 1fr auto;
     justify-content: center;
    text-align: center;
  }
  .links{
    justify-self: end;
    gap: 16px;
    width: 100%;
    justify-content: center;
  }
  header::after{
    display: none; 
  }
  .hero-title{ font-size: clamp(28px, 10vw, 40px); }
}

.glow {
  color: #ffffff;
  text-shadow:
    0 0 5px rgba(255,255,255,0.6),
    0 0 10px rgba(255,255,255,0.5),
    0 0 20px rgba(255,255,255,0.4);
}
